*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    height: 80px;
    width: 100%;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.a{
    height: 80px;
    width: 40%;
    float: left;
    line-height: 80px;
    word-spacing: 20px;
    text-align: end;
    font-size: 15px;
    
    
    
}
.b{
    height: 80px;
    width: 20%;
    float: left;
    text-align: center;
}
.c{
    height: 80px;
    width: 40%;
    float: left;
    word-spacing: 20px;
    line-height: 80px;
    font-size: 15px;
}

.a2{
    color: black;
    text-decoration: none;
    word-spacing: 10px;
    transition-duration: 1s;

}
.a2:hover{
    color:#b1a47a ;
}
#p1{
    color: #b1a47a;
}
.b1{
    height: 100%;
}
.c1{
    color: black;
    text-decoration: none;
    transition-duration: 1s;


}
.c1:hover{
    color:#b1a47a ;
}
.s{
    height: 700px;
    display: flex;
    justify-content: center;
}
.s1{
    height: 700px;
    width: 87%;
    
    
}
.s11{
    height: 100%;
    width: 100%;
    float: left;


    
    
}
.s12{
    height: 300px;
    width: 400px;
    float: left;
    margin-top: -400px;
    margin-left: 470px;
    line-height: 80px;
}
.s13{
    color: white;
    font-family: serif;
     font-size: 72px;
     text-align: center;
    

}
.s14{
    
    
    border: 1px solid white;
}
.s15{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
}
.s2{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center ;
}
.s21{
    height: 800px;
    width: 35%;
    font-family: serif;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.s22{
    height: 800px;
    width: 35%;
    background-color: #faf5f0;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.s23{
    font-size: 50px;
    font-weight: lighter;
    line-height: 50px;
}
.s24{
    height: 40px;
    width: 200px;
    background-color: #ad9966;
    color: white;
    border: 0px solid;
    transition-duration: 1s;
}
.s24:hover{
    background-color: white;
    border: 2px solid  #ad9966;
    color: black;
}
.s25{
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    text-decoration: underline;
}
.s26{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.s3{
    height:1100px ;
    width: 100%;
    display: flex;
    justify-content: center;
    
    margin-top: -60px;
}
.s31{
    height: 1100px;
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.s32{
    height: 500px;
    width: 400px;
}
.s33{
    height: 400px;
    width: 300px;
    margin-top: 150px;
    margin-left: -100px;
    
}
.s34{
    height: 400px;
    width: 300px;
    margin-top: px;
    margin-left: 30px;
    
}
.s35{
    height: 500px;
    width: 400px;
    
    margin-top: 50px;
}
.img2{
    
        height: inherit;
        width: 100%;
        overflow: hidden;
    
}
.img3{
    height: inherit;
    width: 100%;
    overflow: hidden;
}
.img4{
    height: inherit;
    width: 100%;
    overflow: hidden;
}
.img5{
    height: inherit;
    width: 100%;
    overflow: hidden;
}
.img1{
    height: 100%;
    width: 100%;
    transition-duration: 1s;
}
.img1:hover{
    transform: scale(1.1);
    
}
.s4{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.s41{
    height: 800px;
    width: 1100px;
    display: flex;
    flex-direction: row;
}
.s42{
    height: 800px;
    width: 50%;
    background-color:#faf5f0 ;
    
}
.s43{
    height: 800px;
    width: 50%;
    line-height: 30px;
    padding: 100px;
}
form{
    line-height: 60px;
    margin-top: 80px;
    margin-left: 50px;


}
.f1{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
}
.f2{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
}
.f3{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
}
.f4{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
}
.f5{
    width: 400px;
    border-radius: 5px;
    border: 1px solid black;
    
}
.f6{
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-left: 200px;
    transition-duration: 1s;

}
.f6:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
.s44{
    font-family: serif;
    font-size: 40px;
    font-weight: lighter;
    line-height: 60px;
    margin-top: 30px;
}
.s5{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -100px;


}
.s51{
    height: inherit;
    width: 60%;
    display: flex;
    flex-direction: row;
    
}
.s52{
    height: inherit;
    width: 45%;
    overflow: hidden;

}
.s53{
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    line-height: 50px;
}
.s53:hover{
    transform: scale(1.1);
}
.s54{
    line-height: 50px;
    font-weight: lighter;
    margin-top: 120px;
}
.s55{
    line-height: 30px;
    margin-top: 30px;
}
.s56{
    margin-top: 100px;
}
.s6{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.s61{
    height: 500px;
    width: 80%;
    margin-top: 6%;
    overflow: hidden;
    box-shadow: 1px 1px 15px 1px;
}
.s62{
    height: 100%;
    width: 100%;
    transition-duration: 1s;
}
.s62:hover{
    transform: scale(1.1);
}
.s7{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.s71{
    height: inherit;
    width: 60%;
    display: flex;
    flex-direction: row;
}
.s72{
    height: inherit;
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.s73{
    font-weight: lighter;
    margin-left: 50px;
}
.map{
    height: 500px;
    width: 100%;
    background-color: aqua;
    margin-left: 110px;
}
.s74{
    margin-top: 30px;
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
}
footer{
    height: 650px;
    width: 100%;
    border: 1px solid;
    background-color: #000000;
}
.d1{
    height: 350px;
    width: 200px;
    /* border: 1px solid white; */
    margin-left: 150px;
    margin-top: 140px;
    float: left;
}
.d1 h3{
    font-size: 25px;
    font-family: 'Allura', cursive;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy';
    font-weight: lighter;
    color: white;
}
.d1 a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #818181;
    font-family: 'Roboto', sans-serif;

}
.d1 a:hover{
    text-decoration: underline;
}
.d2{
    height: 350px;
    width: 200px;
    /* border: 1px solid white; */
    margin-left: 18px;
    margin-top: 140px;
    float: left;
}
.d2 h3{
    font-size: 25px;
    font-family: 'Allura', cursive;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy';
    font-weight: lighter;
    color: white;
}

.d2 a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #818181;
    font-family: 'Roboto', sans-serif;

}
.d2 a:hover{
    text-decoration: underline;
}

.d3{
    height: 350px;
    width: 200px;
    /* border: 1px solid white; */
    margin-left: 18px;
    margin-top: 140px;
    float: left;
}
.d3 h3{
    font-size: 25px;
    font-family: 'Allura', cursive;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy';
    font-weight: lighter;
    color: white;
}

.d3 a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #818181;
    font-family: 'Roboto', sans-serif;

}
.d3 a:hover{
    text-decoration: underline;
}



.d4{
    height: 350px;
    width: 200px;
    /* border: 1px solid white; */
    margin-left: 18px;
    margin-top: 140px;
    float: left;
}
.d4 h3{
    font-size: 25px;
    font-family: 'Allura', cursive;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy';
    font-weight: lighter;
    color: white;
}

.d4 a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #818181;
    font-family: 'Roboto', sans-serif;

}
.d4 a:hover{
    text-decoration: underline;
}

.d5{
    height: 300px;
    width: 420px;
    /* border: 1px solid white; */
    margin-left: 0px;
    margin-top: 140px;
    float: left;
   
}
.d5 h3{
    font-size: 25px;
    font-family: 'Allura', cursive;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy';
    font-weight: lighter;
    color: white;
}
.d5 a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #818181;
    font-family: 'Roboto', sans-serif;

}
.b7{
    height: 50px;
    width: 280px;
    background-color: #333333;
    border: 0px;
    color: #5f6060;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: start;
}
.b8{
    height: 50px;
    width: 60px;
    background-color: #ffc000;
    margin-top: 0px;
    border: 0px;

    position: absolute;
}
.b8 i{
    font-size: 18px;
}
.d6{
    height: 30px;
    width: 600px;
    /* border: 1px solid whitesmoke; */
    margin-top: -50px;
    margin-left: 150px;
    float: left;
}
.d6 p{
    color: white;
}
span{
    color: #ffc000;
}
.d7{
    height: 60px;
    width: 300px;
        /* border: 1px solid whitesmoke; */
margin-left: 1004px;
    margin-top: -70px;
 float: left;
}
.d7 i{
    color: white;
    border-radius: 0px;
    /* background-color: white; */
    font-size: 40px;
    margin-left: 2px;
    margin-top: 10px;
}
.d7 i:hover{
    color: #ffc000;
}

































       










@media (min-width : 721px ) and (max-width :1200px){
    .s12{
        margin-left: 350px  ;
    }
    .s41{
        margin-left: 100px;
    }
    .s51{
        margin-left: 20px;
        margin-top: 30px;
    }
    .s54{
        margin-top: 80px;
    }
    .s52{
        width: 55%;
    }
    footer{
        margin-top: 40px;
    }
    .s71{
        width: 70%;
    
}
.s71{
    margin-left: 20px;
}
.d5{
    margin-top: -50px;
    margin-left: 150px;
}
.d6{
    margin-left: 10px;
}
}









@media (min-width : 481px ) and (max-width :720px){
    .s12{
        margin-left: 130px;
        width: 50%;
    }
    .s23{
        font-size: 30px;
        line-height: 40px;

    }
    .s2{
        display: flex;
        flex-direction: row;
        margin-top: 100px;
    }
    .s3{
        margin-top: 100px;
    }
    .s22{
        width: 50%;
        height: 800px;
    }
    .s32{
        height: 500px;
        width: 300px;
    }
    .s33{
        height: 500px;
        width: 300px;
        margin-top: 0px;
    }
    .s34{
        height: 500px;
        width: 300px;
        margin-left: 10px;
    }
    .s35{
        height: 500px;
        width: 300px;
        margin-top: 0px;
        margin-left: -80px;
    }
    .s43{
        display: none;
    }
    .s42{
        width: 100%;
        margin-left: -40px;
    }
    .s51{
        width: 85%;
    }
    .s52{
        width: 60%;
    }
    .s55{
        font-size: 13px;
    }
    .s6{
        margin-top: 30px;
    }
    .s7{
        margin-top: 10px;
    }
    .s71{
        width: 80%;
    }
    footer{
        height: 700px;
    }
    .d1{
        margin-left: 50px;
        margin-top: 20px;
    }
    .d2{
        margin-top: 20px;
    }
    .d3{
        margin-top: 20px;
    }
    .d4{
        margin-left: 50px;
        margin-top: -80px;
    }
    .d5{
        margin-top: -348px;
        margin-left: 260px;
    }
    .d7{
        margin-left: 500px;
        margin-top: -360px;
    }
    .d6{
        margin-left: 80px;
    }
}
@media (min-width : 0px) and (max-width :480px){
    .a{
        font-size: 10px;
    }
    .c{
        font-size: 10px;
    }
    .s{
        height: 500px;
    }
    .s1{
        height: inherit;
    }
    .s12{
        margin-left: 85px;
        margin-top: -300px;
        width: 250px;
    }
    .s13{
        font-size: 50px;
    }
    .s15{
        font-size: 15px;
    }
    .s2{
        margin-top: 20px;
    }
    .s21{
        display: none;
    }
    .s22{
        width: 80%;
        height: 800px;
    }
    .s3{
        margin-top: 100px;
    }
    .s4{
        margin-top: 1000px;
    }
    .s33{
        height: 500px;
        width: 400px;
        margin-left: 10px;
        margin-top: 15px;
    }
    .s34{
        height: 500px;
        width: 400px;
        margin-left: -1px;
        margin-top: 15px;
    }
    .s35{
        margin-top: 15px;
    }
    .s43{
        display: none;
    }
    .s42{
        width: 480px;
    }
    .s5{
        margin-top: 100px;
    }
    .s51{
        width: 90%;
    }
    .s52{
        width: 65%;
    }
    .s54{
        margin-top: 20px;
    }
    .s6{
        height: 300px;
    }
    .s61{
        height: inherit;
    }
    .s7{
        margin-top: 50px;
        height: 700px;
    }
    .s71{
        display: flex;
        flex-direction: column;
        height: 700px;
        margin-left: -110px;
    }
    .s72{
        width: 400px;
        height: 800px;
        overflow: visible;
    }
    .s73{
        margin-top: 130px;
        margin-left: 10px;

    }
    .s74{
        margin-left: 10px;
    }
    .s47{
        font-size: 10px;
        margin-top: 20px;
    }
    footer{margin-top: 350px;
    height: 800px;
}
    .d1{
        margin-left: 50px;
        margin-top: 50px;
    
}
.d2{
    margin-top: 50px;
}
.d3{
    margin-top: -90px;
    margin-left: 50px;
}
.d4{
    margin-top: -90px;
}
.d5{
    margin-top: -40px;
    margin-left: 50px;
}
.d7{
    margin-top: -315px;
    margin-left: 250px;
}
}

